.burger-btn:focus,
.burger-btn:active,
.burger-btn:hover {
    background-color: #4F46E5 !important;
    color: #ffffff !important;
    border: 1px solid #e5e7eb !important;
}
.dropdown-item > a{
    text-decoration: none;
}
.dropdown-item > a:hover{
    text-decoration: underline;
}